aiofiles==25.1.0
anyio==4.11.0
apparmor==5.0.2
aptdaemon==2.0.2
arandr==0.1.11
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
asn1crypto==1.5.1
astroid==4.1.1
asttokens==3.0.1
attrs==25.4.0
audioop-lts==0.2.2
audioread==3.1.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
babelfish==0.6.1
bcc==0.35.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
binwalk==2.4.3
bleach==6.3.0
blinker==1.9.0
Brlapi==0.8.6
Brotli==1.2.0
bt-dualboot==1.0.1
capstone==5.0.7
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
cliapp==1.20180812.1
click==8.5.0
click-option-group==0.5.6
cmdtest==0.32+git
colorama==0.4.6
comm==0.2.1
command-not-found==0.3
configobj==5.0.9
constantly==23.10.4
contourpy==1.3.3
coverage==7.13.5
cryptography==46.0.5
cssselect==1.4.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
debugpy==1.8.19
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
deluge==2.2.1.dev0+20250824
distlib==0.4.0
distro==1.9.0
distro-info==1.15
Django==5.2.9
django-adminplus==0.6
dogpile.cache==1.5.0
enzyme==0.5.2
evdev==1.9.3
executing==2.2.1
fastjsonschema==2.21.1
filelock==3.20.3
filetype==1.2.0
fonttools==4.61.1
fsspec==2026.7.0
GDAL==3.12.2
GeoIP==1.3.2
ghp-import==2.1.0
git-filter-repo==2.47.0
gpg==2.0.0
guessit==3.8.0
h11==0.16.0
h5py==3.15.1
h5py._debian_h5py_serial==3.15.1
hf-xet==1.6.0
html5lib-modern==1.2
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
huggingface==0.0.1
huggingface_hub==1.30.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==8.7.1
incremental==24.7.2
inflect==7.5.0
iniconfig==2.1.0
iotop==0.6
ipykernel==7.1.0
ipython==9.11.0
ipython_genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
itemadapter==0.13.1
itemloaders==1.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.1
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyterlab_pygments==0.2.2
jupyterlab_widgets==3.0.13
Keras_Applications==1.0.8
Keras_Preprocessing==1.1.2
kiwisolver==1.4.10rc0
langdetect==1.0.9
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
legacy-cgi==2.6.4
LibAppArmor==5.0.2
libevdev==0.13.1
libpass==1.9.3
libtorrent==2.0.12
libvirt-python==12.0.0
linkify-it-py==2.0.3
livereload==2.7.1
louis==3.36.0
lunr==0.8.0
lxml==6.0.2
lz4==4.4.5+dfsg
Mako==1.3.10.dev0
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7+dfsg1
matplotlib-inline==0.2.1
mdurl==0.1.2
mechanize==0.4.10
mergedeep==1.3.4
mistune==3.1.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
more-itertools==10.8.0
mpmath==1.3.0
mutagen==1.47.0
mysql-connector-python==9.5.0
mysqlx-connector-python==9.5.0
nala==0.16.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest_asyncio==1.6.0
netaddr==1.3.0
netifaces==0.11.0
nltk==3.10.3
notebook==6.4.13
ntpsec==1.2.3
numpy==2.3.5
oauthlib==3.3.1
olefile==0.47
packaging==26.0
pandocfilters==1.5.1
parsel==1.11.0
parso==0.8.5
pathspec==1.0.4
pbr==7.0.3
pexpect==4.9.0
pillow==12.1.1
pipenv==2024.0.1
pipx==1.8.0
platformdirs==4.9.4
pluggy==1.6.0
ply==3.11
pooch==1.9.0
progressbar==2.5
prometheus_client==0.21.1
prompt_toolkit==3.0.52
Protego==0.6.0
protobuf==4.21.12
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyacoustid==1.3.0
pyasn1==0.6.3
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pycairo==1.27.0
pycparser==3.0
pycups==2.0.4
PyDispatcher==2.0.7
pygame==2.6.1
Pygments==2.19.2
PyGObject==3.56.2
PyHamcrest==2.1.0
pyinotify==0.9.6
PyJWT==2.10.1
pykerberos==1.1.14
pymediainfo==7.0.1
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip==12.17.2
PyQt6==6.10.2
PyQt6_sip==13.11.0
pyqtgraph==0.14.0
pyserial==3.5
PySide6==6.10.2
pysmi==0.3.4
PySocks==1.7.1
pysubs2==1.8.0
pytest==9.0.2
python-apt==3.1.0+ubuntu1.1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu2
python-magic==0.4.27
python-xlib==0.33
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.1.0
queuelib==1.9.0
rarfile==4.2
rebulk==3.3.0
referencing==0.36.2
regex==2025.9.18
rencode==1.0.6
repo==2
requests==2.32.5
requests-file==3.0.1
rich==13.9.4
rpds-py==0.27.1
s-tui==1.3.0
scipy==1.16.3
Scrapy==2.14.1
screen-resolution-extra==0.0.0
Send2Trash==1.8.3
service-identity==24.2.0
setproctitle==1.3.7
setuptools==78.1.1
shellingham==1.5.4
shiboken6==6.10.2
shiboken6-generator==6.10.2
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.8.3
speedtest-cli==2.1.3
sqlparse==0.5.4
srt==3.5.3
ssh-import-id==5.11
stack_data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
stdeb==0.10.2
stevedore==5.7.0
subdownloader==2.1.0
subliminal==2.2.0
sympy==1.14.0
systemd-python==235
terminado==0.18.1
tinycss2==1.5.1
tldextract==5.1.2
tomli==2.4.0
toposort==1.10
torbrowser-launcher==0.3.9
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
ttystatus==0.38
Twisted==25.5.0
typeguard==4.4.4
typer==0.19.2
types-aiofiles==25.1
types-antlr4-python3-runtime==4.13
types-assertpy==1.1
types-atheris==3.0
types-auth0-python==4.10
types-Authlib==1.6.6
types-aws-xray-sdk==2.15
types-binaryornot==0.4
types-bleach==6.3
types-boltons==25.0
types-braintree==4.42
types-cachetools==6.2
types-capturer==3.0
types-cffi==1.17
types-channels==4.3
types-chevron==0.14
types-click-default-group==1.2
types-click-log==0.4
types-click-shell==2.1
types-click-spinner==0.1
types-click-web==0.8
types-colorama==0.4
types-colorful==0.5
types-console-menu==0.8
types-convertdate==2.4
types-croniter==6.0.0
types-dateparser==1.2.2
types-decorator==5.2
types-defusedxml==0.7
types-Deprecated==1.3.1
types-dirhash==0.5
types-django-filter==25.2
types-django-import-export==4.4
types-docker==7.1
types-dockerfile-parse==2.0
types-docutils==0.22.3
types-editdistance==0.8
types-entrypoints==0.4
types-ephem==4.2
types-et_xmlfile==2.0
types-fanstatic==1.6
types-first==2.0
types-flake8==7.3
types-flake8-bugbear==25.11.29
types-flake8-builtins==3.1
types-flake8-docstrings==1.7
types-flake8-rst-docstrings==0.4
types-flake8-simplify==0.30
types-flake8-typing-imports==1.17
types-Flask-Cors==6.0
types-Flask-Migrate==4.1
types-Flask-SocketIO==5.6
types-fpdf2==2.8.4
types-gdb==16.3
types-geopandas==1.1.2
types-gevent==25.9
types-google-cloud-ndb==2.4
types-greenlet==3.3
types-grpcio==1
types-grpcio-channelz==1
types-grpcio-health-checking==1
types-grpcio-reflection==1
types-grpcio-status==1
types-gunicorn==25.0
types-hdbcli==2.25
types-hnswlib==0.8
types-html5lib==1.1
types-httplib2==0.31.2
types-hvac==2.4
types-ibm-db==3.2.6
types-icalendar==6.3.2
types-inifile==0.4
types-JACK-Client==0.5
types-Jetson.GPIO==2.1.12
types-jmespath==1.1
types-jsonnet==0.21
types-jsonschema==4.26.0
types-jwcrypto==1.5
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.23
types-lunardate==0.2
types-lupa==2.6
types-lzstring==1.0
types-m3u8==6.0
types-Markdown==3.10
types-mock==5.2
types-mypy-extensions==1.1
types-mysqlclient==2.2
types-nanoid==2.0.0
types-nanoleafapi==2.1
types-netaddr==1.3
types-netifaces==0.11
types-networkx==3.6.1
types-oauthlib==3.3
types-objgraph==3.6
types-olefile==0.47
types-openpyxl==3.1.5
types-opentracing==2.4
types-paramiko==4.0
types-parsimonious==0.11
types-passlib==1.7
types-passpy==1.0
types-peewee==3.19.0
types-pep8-naming==0.15
types-pexpect==4.9
types-pika-ts==1.3
types-polib==1.2
types-pony==0.7
types-portpicker==1.6
types-protobuf==6.32.1
types-psutil==7.2.2
types-psycopg2==2.9.11
types-punq==0.7
types-pyasn1==0.6
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.7
types-pyfarmhash==0.4
types-pyflakes==3.4
types-Pygments==2.19
types-pyinstaller==6.18
types-pyjks==20.0
types-pyluach==2.3
types-PyMeeus==0.5
types-PyMySQL==1.1
types-pynput==1.8.1
types-pyperclip==1.9
types-pyRFC3339==2.0.1
types-PyScreeze==1.0.1
types-pyserial==3.5
types-pysftp==0.2
types-PySocks==1.7.1
types-pytest-lazy-fixture==0.6
types-python-crontab==3.3
types-python-dateutil==2.9
types-python-http-client==3.3.7
types-python-jenkins==1.8.3
types-python-jose==3.5
types-python-nmap==0.7
types-python-xlib==0.33
types-pytz==2025.2
types-pywin32==311
types-pyxdg==0.28
types-PyYAML==6.0
types-qrbill==1.2
types-qrcode==8.2
types-ratelimit==2.2
types-regex==2026.1.15
types-reportlab==4.4.9
types-requests==2.32.4
types-requests-oauthlib==2.0
types-retry==0.9
types-rfc3339-validator==0.1
types-RPi.GPIO==0.7
types-s2clientprotocol==5
types-seaborn==0.13.2
types-Send2Trash==2.1
types-setuptools==80.10
types-shapely==2.1
types-simple-websocket==1.1
types-simplejson==3.20
types-singledispatch==4.1
types-six==1.17
types-slumber==0.7
types-str2bool==1.1
types-tabulate==0.9
types-tensorflow==2.18.0
types-TgCrypto==1.2
types-toml==0.10
types-toposort==1.10
types-tqdm==4.67.3
types-translationstring==1.4
types-ttkthemes==3.3
types-tzdata==2025
types-ujson==5.10
types-unidiff==0.7
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9.9
types-waitress==3.0.1
types-watchpoints==0.2.5
types-webencodings==0.5
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.2.1
types-wurlitzer==3.1
types-www-authenticate==0.9
types-xdgenvpy==3.0
types-xlrd==2.0
types-xmldiff==2.7
types-xmltodict==1.0.1
types-yt-dlp==2026.1.31
types-zstd==1.5.7.3
types-zxcvbn==4.5
typing_extensions==4.15.0
ubuntu-cleaner==1.1.4
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufoLib2==0.18.1
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.6.3
urwid==3.0.4
usb-creator==0.3.16
userpath==1.9.2
uvicorn==0.38.0
uvloop==0.22.1
virtualenv==20.36.1
w3lib==2.4.0
wadllib==2.0.0
watchdog==6.0.0
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.46.3
widgetsnbextension==4.0.13
wifite==2.8.1
wsproto==1.3.2
wxmplot==0.9.58
wxPython==4.2.4
wxutils==0.3.0
xdg==5
xkit==0.0.0
xxhash==0.0.0
yamllint==1.37.1
zipp==3.23.0
zombie-imp==0.0.4
zope.interface==8.2
zopfli==0.4.1
